.device-section {
  @extend .py-5;
  background-color: $dark-color2 !important;

  .device-info {
    @extend .text-muted;
    @extend .mb-2;
    font-size: 12px;
  }

  .device-item-title {
    @extend .mb-4;
    font-size: 18px !important;
  }

  .device-title {
    @extend .text-center;
    @extend .mb-4;
    font-size: 24px !important;
  }
}
