.main-header {
  background: rgba(0, 0, 0, 0.8);

  nav {
    @include media-breakpoint-up(lg) {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .navbar-brand {
    width: 80px !important;
  }

  .nav-item {
    padding: 10px !important;
  }

  .nav-link {
    font-size: 14px !important;
    color: $gray-400 !important;
    max-width: max-content;
    @include media-breakpoint-up(lg) {
      max-width: none;
    }

    &--icon {
      @include center;
      @extend .gap-2;
    }

    &:hover {
      color: $yellow-600 !important;
    }

    &.show {
      color: $yellow-600 !important;
    }
  }

  .btn {
    font-size: 14px !important;
    padding: 10px 15px;
  }

  .vr {
    background-color: $gray-700 !important;
    width: 100% !important;
    min-height: 1px !important;
    @include media-breakpoint-up(lg) {
      width: 1px !important;
      min-height: 100% !important;
    }
  }

  .dropdown-toggle-custom {
    @include center;
    @extend .gap-2;
  }

  .dropdown-menu {
    background-color: $dark-color3 !important;
    @extend .px-1;
    @extend .fadeIn;
    @include media-breakpoint-up(lg) {
      -webkit-animation-name: fadeInUp;
      animation-name: fadeInUp;
      top: 96% !important;
    }
    animation-duration: 0.4s !important;

    &.show {
      @extend .d-flex;
    }
  }

  .dropdown-item {
    color: $gray-400;
    font-size: 12px !important;
    background-color: transparent !important;
    @extend .py-2;
    padding-right: 20px !important;
    @include media-breakpoint-up(sm) {
      padding-right: 100px !important;
    }
    &:hover {
      color: $yellow-600 !important;
    }
  }
}
