.main-header {
  background: rgba(0, 0, 0, 0.8);

  nav {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .navbar-brand {
    width: 80px !important;
  }

  .nav-item {
    padding: 10px !important;
  }

  .nav-link {
    font-size: 14px !important;
    color: $gray-400 !important;

    &:hover {
      color: $yellow-600 !important;
    }

    &.show {
      color: $yellow-600 !important;
    }
  }

  .dropdown-toggle-custom {
    @include center;
    @extend .gap-2;
  }

  .dropdown-menu {
    background-color: $dark-color3 !important;
    @extend .px-1;
    @extend .fadeInUp;
    animation-duration: 0.4s !important;

    &.show {
      @extend .d-flex;
    }
  }

  .dropdown-item {
    color: $gray-400;
    font-size: 12px !important;
    background-color: transparent !important;
    @extend .py-2;
    padding-right: 100px !important;
    &:hover {
      color: $yellow-600 !important;
    }
  }
}
