.home-section {
  @extend .position-relative;
  margin-top: 50px !important;

  // carousel manage size
  .carousel-inner {
    min-height: 60vh !important;
  }

  // image items of carousel
  .carousel-img {
    @extend .w-100;
    min-height: 60vh !important;
    @extend .d-block;
    @extend .position-absolute;
    @extend .start-50;
    @extend .top-0;
    transform: translateX(-50%);
    min-width: 1000px !important;
  }
  // filter
  .home-filter-colored {
    @include wrapper;
    background: radial-gradient(
      97.71% 268.05% at 97.71% 81.01%,
      #fdc13b 0,
      #fd5b00 39.6%,
      #090c4a 100%
    );
    z-index: 10;
    mix-blend-mode: color;
  }
  .home-filter {
    @include wrapper;
    z-index: 1000;

    // filter item 1
    &-1 {
      @include wrapper;
      background: linear-gradient(
        186.97deg,
        rgba(21, 21, 21, 0) 5.45%,
        #151515 94.55%
      );
    }

    // filter item 2
    &-2 {
      @include wrapper;
      background: radial-gradient(
        54.91% 54.91% at 50% 45.09%,
        rgba(21, 21, 21, 0) 0,
        rgba(21, 21, 21, 0.1) 100%
      );
    }

    // filter item 3
    &-3 {
      @include wrapper;
      background: radial-gradient(
        130% 62% at 41% 40%,
        rgba(0, 0, 0, 0) 0,
        #151515 100%
      );
    }
  }
  // content
  .home-content {
    @include center;
    @include wrapper;
    @extend .px-2;
    z-index: 1000;
    align-items: end !important;

    // paragraph
    &-body {
      @extend .mb-5;
      font-size: 14px !important;
      @include media-breakpoint-up(sm) {
        font-size: 16px !important;
      }
    }

    // text after button
    &-footer {
      @extend .d-block;
      font-size: 13px !important;
    }
  }
}
