.search-section {
  // background
  .modal-content {
    background-color: $black !important;
  }

  // border manager
  .modal-header {
    border-color: rgba($gray-900, 0.5) !important;
  }

  // size control
  &-size {
    @extend .mx-auto;
    max-width: 800px !important;
  }

  // input
  .search-input {
    @extend .form-control;
    @extend .form-control-lg;
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
    @include media-breakpoint-up(sm) {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }

  // history
  .history-item {
    @extend .flow-btn;
  }

  .history-title {
    color: $gray-500 !important;
  }

  .list-inline-item {
    @extend .m-1;
  }
}
