// import font
@import "font";

// import color
@import "color";

// import mixins
@import "mixins";

// initial first style
body {
  background-color: $dark-color1;
  color: $white;
}

* {
  font-family: iran-sans;
}
