$dark-color1: #151515;
$dark-color2: #1a1919;
$dark-color3: #1a1a1a;
$success-color: #1cb561;
$color-navbar-btn-dark: rgba(255, 255, 255, 0.2);
$color-navbar-btn-dark-hover: rgba(255, 255, 255, 0.25);
