// controls
.controls {
  @include wrapper;

  // prev and next item
  .controls-prev,
  .controls-next {
    @extend .position-absolute;
    @extend .top-50;
    transform: translateY(-50%);
    z-index: 10;
    list-style: none;

    &-btn {
      width: 40px;
      height: 40px;
      @extend .rounded-circle;
      @include center;
      @extend .bg-opacity-75;
      @extend .bg-dark;
      @extend .fs-4;
      @extend .text-secondary;
      @extend .btn;

      &:hover {
        @extend .text-light;
      }
    }
  }

  // prev item
  .controls-prev {
    /*rtl:ignore*/
    left: 3px !important;
  }

  // next item
  .controls-next {
    /*rtl:ignore*/
    right: 3px !important;
  }
}
