// margin
.mt-10 {
  margin-top: $spacer * 6 !important;
}

.mt-15 {
  margin-top: $spacer * 9 !important;
}

// font size
.fs-title {
  font-size: 24px !important;
}

.fs-tiny {
  font-size: 14px !important;
}

.fs-xl-tiny {
  font-size: 12px !important;
}

// direction
.dir-body {
  direction: ltr !important;
}

.always-ltr {
  /*rtl:ignore*/
  direction: ltr !important;
}

// fade animation when hover
.fade-hover {
  @extend .d-block;
  transition: 0.4s ease opacity;
  opacity: 0.7;

  &:hover {
    opacity: 1 !important;
  }
}

// sizing
.w-45px {
  width: 45px !important;
}

// text
.text-justify {
  text-align: justify;
}
