// background
$dark-color1: #151515;
$dark-color2: #1a1919;
$dark-color3: #1a1a1a;
body {
  background-color: $dark-color1;
  color: $white;
}

// font
@import "./font";

* {
  font-family: iran-sans;
}
